iv.panel.panel-primary#playlist
    div.panel-heading
        span Playlist
    div.panel-body#playlist(ng-controller="PlaylistController")
        div(ng-repeat="file in playlist")
            span.pull-right
                i.icon-play.left-to-label.clickable(ng-click="PlayFile($index)")
                i.icon-remove.left-to-label.clickable(ng-click="RemoveFromPlaylist($index)")
            div
                div {{file.name}}