div.panel.panel-primary
    div.panel-heading
        div.panel-title Result
    div.panel-body 
        table.table.table-striped.table-bordered.table-hover.col-lg-12
            thead
                th.col-lg-7 Request
                th.col-lg-4 Response
            tbody(ng-repeat="table in tables")
                tr.success(ng-class="{'danger': !table.result}")
                    td {{table.request}}
                    td Result: {{table.result}} <br /> Items: {{table.toShow}} 
                        div(ng-repeat="message in table.messages")
                            {{message}}